<div class="flex justify-center shadow-md rounded">
  <div class="my-8 p-8 rounded-lg text-center bg-white">
    <p class="font-bold text-xl"><%= @recipe.name %></p>
    <div class="flex justify-between items-center w-full">
      <div class="mb-2 mt-4 flex justify-between gap-4">
        <p>Prep. Time:</p>
        <p><%= @recipe.preparation_time %> hours</p>
      </div>
      <div class="flex">
        <% if @recipe.public %>
          <p class="text-green-500 font-bold">Public</p>
          <svg class="w-5 h-5 ml-2" fill="none" stroke="green" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 119 0v3.75M3.75 21.75h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H3.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
          </svg>
        <% else %> 
          <p class="text-red-500 font-bold">Private</p>
          <svg class="w-5 h-5 ml-2" fill="none" stroke="red" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z"></path>
          </svg>
        <% end %>
      </div>
    </div>
    <div class="my-2 text-lg flex justify-center gap-5">
      <p>Cooking Time:</p>
      <p><%= @recipe.cooking_time %> hours</p>
    </div>
    <p class="my-4 text-lg"><%= @recipe.description %></p>
    <div class="flex justify-between">
      <% if @recipe.user == current_user %>
        <div class="rounded-lg border-2 hover:shadow-xl px-4 py-2 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl text-white">
          <%= link_to "Generate List", general_shopping_list_path %>
        </div>
      <% end %>
      <% if @recipe.user == current_user %>
        <div class="rounded-lg border-2 hover:shadow-xl px-4 py-2 bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl text-white">
          <%= link_to "Add Food", new_recipe_recipe_food_path(@recipe) %>
        </div>
      <% end %>
    </div>
    <div class="my-4 text-black border-t-2 border-black"></div>
    <% if @recipe_foods.length > 0 %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Food
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Value
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <% @recipe_foods.each do |recipe_food| %>
            <tr class="bg-white hover:bg-gray-50">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    <%= recipe_food.food.name %>
                </th>
                <td class="px-6 py-4">
                    <%= recipe_food.quantity %>
                </td>
                <td class="px-6 py-4">
                    $<%= recipe_food.quantity * recipe_food.food.price %>
                </td>
                <td class="px-6 py-4">
                  <% if current_user == recipe_food.recipe.user %>
                    <%= button_to 'Remove', recipe_recipe_food_path(@recipe, recipe_food), method: :delete, class: "text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br rounded p-1" %>
                  <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% else %>
      <div>Add new foood 🥘 🍱 </div>
    <% end %>
  </div>
</div>