<div class="flex justify-center">
  <div class="mt-16 px-8 py-4 w-96 h-fit bg-white rounded-lg shadow-lg">
    <h2 class="text-xl font-bold text-center text-gray-700">Sign In</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="my-4">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "px-4 py-2 rounded-md mt-2 w-full" %>
      </div>
      <div class="my-4">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password", class: "px-4 py-2 rounded-md mt-2 w-full" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="my-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <button type="submit" class="w-full text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 py-2 rounded-md">
        Log in
      </button>
    <% end %>
  </div>
</div>